<div class="action-container">
    <a mat-raised-button color="primary" [routerLink]="['']">Voltar</a>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="name" placeholder="Nome do produto">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Valor</mat-label>
        <input matInput type="text" formControlName="price" placeholder="Somente numeros">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Descrição</mat-label>
        <input matInput type="text" formControlName="description" placeholder="Texto curto">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Url imagem</mat-label>
        <input matInput type="text" formControlName="image" placeholder="Colar o link da imagem">
    </mat-form-field>
    <button color="primary" type="submit" mat-raised-button>Salvar</button>
</form>