<div class="action-container">
    <a mat-raised-button color="primary" [routerLink]="['']">Voltar</a>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="name" placeholder="Ex: Iphone XR Plus">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Valor</mat-label>
        <input matInput type="text" formControlName="price" placeholder="Ex: 1.599,60">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Descrição</mat-label>
        <input matInput type="text" formControlName="description" placeholder="Texto curto">
    </mat-form-field>
    <div class="file-input-container">
        <img class="product-image" [src]="product.image">        
    </div>
    <div>
        <label mat-raised-button color="primary">
            <input type="file" (change)="onFileChange($event)">
            
          </label>
          <span *ngIf="selectedFile"></span>
    </div>
    
    <button color="primary" type="submit" mat-raised-button>Salvar</button>
</form>