.form-container{
    display: flex;
    flex-direction: column;
}

.action-container{
    display: flex;
    justify-content: flex-end;
    padding: 16px 0;
}

.file-input-container {
    width: 100%;
    max-width: 300px; 
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid #ddd; 
    padding: 10px; 
    box-sizing: border-box;
    margin-bottom: 15px;
}

.file-input-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;    
}

.form-container .file-input-container {
    margin: 0 auto;
}